.App {
  height: 100vh;
  width: 100vw;
  display:flex

}
body{
  margin:0;
  padding: 0;
}
 


/* College table design */
.paginationButtns{
  width: 80%;
  height: 40px;
  list-style: none;
  justify-content: center;
  display: flex;
}
 .paginationButtns a{
   padding: 10px;
   margin: 8px;
   border-radius: 5px;
   border: 1px solid #471be4;
   color: #471be4;
   cursor: pointer;
 }

 .paginationButtns a:hover{
   color: white;
   background-color: #471be4;
 }
 .paginationActive a {
   color: white;
   background-color: #471be4;
     
 }

 /* Navigation Bar design */

 .NavBar{
   width: 100%;
   height: 35px;
   background-color: #2F4050;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .NavBar a{
   text-decoration: none;
   color: white;
   margin: 5px;
 }